<div class="container">
    <div class="balance">
        <div class="balance-content">
            <div class="balance-header">
                <div class="balance-header-content">
                    <div class="navbar-header">
                        <div class="add-movement" (click)="onCreateMovement()">
                            <mat-icon>add_circle_outline</mat-icon>
                            <span>Agregar movimiento</span>
                        </div>
                        <div class="navbar">
                            <mat-icon>credit_card</mat-icon>
                            <mat-icon (click)="onIncomesPressed()">attach_money</mat-icon>
                            <mat-icon (click)="onExpensesPressed()">money_off</mat-icon>
                            <mat-icon (click)="onHomePressed()">home</mat-icon>
                        </div>
                        <div class="logout" (click)="onLogout()">
                            <mat-icon>account_circle</mat-icon>
                            <span>Cerrar sesión</span>
                        </div>
                    </div>
                    <div class="title">
                        <span>
                            {{ totalMonth | currency: "Q":"code" }}
                            <i class="fa fa-plus" (click)="onCreateMovement()"></i>
                        </span>
                        <small>{{ monthDetail }}</small>
                    </div>
                </div>
            </div>
            <div class="balance-table">
                <div class="incomes" *ngIf="monthIncomesList.length > 0">
                    <div class="table-reference">
                        <span>Ingresos en el mes</span>
                        <span>{{ monthTotalIncomes | currency: "Q":"code" }}</span>
                    </div>
                    <table mat-table [dataSource]="monthIncomesList">
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef>Descripcion</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.description }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="createdDate">
                            <th mat-header-cell *matHeaderCellDef>Fecha</th>
                            <td mat-cell class="dateColumn" *matCellDef="let element">
                                {{ element.createdDate | date }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef>Monto</th>
                            <td mat-cell class="amountColumn" *matCellDef="let element">
                                {{ element.amount | currency: "Q":"code" }}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                </div>

                <div class="expenses" *ngIf="monthExpensesList.length > 0">
                    <div class="table-reference">
                        <span>Egresos en el mes</span>
                        <span>{{ monthTotalExpenses | currency: "Q":"code" }}</span>
                    </div>
                    <table mat-table [dataSource]="monthExpensesList">
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef>Descripcion</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.description }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="createdDate">
                            <th mat-header-cell *matHeaderCellDef>Fecha</th>
                            <td mat-cell class="dateColumn" *matCellDef="let element">
                                {{ element.createdDate | date }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef>Monto</th>
                            <td mat-cell class="amountColumn" *matCellDef="let element">
                                {{ element.amount | currency: "Q":"code" }}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="month-cards" id="month-cards">
        <div class="month-card" [ngClass]="
        monthCard.expenses >= monthCard.incomes ? 'month-low' : 'month-high'
      " *ngFor="let monthCard of monthCardList" (click)="switchMonthTable(monthCard.month, monthCard.year)">
            <div class="content">
                <div class="month-header">
                    {{ monthCard.month }}
                    <i *ngIf="monthCard.expenses >= monthCard.incomes" class="fa fa-arrow-circle-down"></i>
                    <i *ngIf="monthCard.expenses < monthCard.incomes" class="fa fa-arrow-circle-up"></i>
                </div>
                <div class="year">{{ monthCard.year }}</div>
                <div>
                    <small><span>Egresos durante el mes </span>
                        <span>{{ monthCard.expenses | currency: "Q":"code" }}</span></small>
                </div>
                <div>
                    <small><span>Ingresos durante el mes </span>
                        <span>{{ monthCard.incomes | currency: "Q":"code" }}</span></small>
                </div>
            </div>
        </div>
    </div>
</div>