:host::ng-deep {
    * {
      font-size: 0.7rem;
    }
    .mat-dialog-title {
      width: 100%;
      text-align: center;
      font-size: 2.5rem;
      margin-top: 20px;
    }

    .slider-toggle {
        width: 100%;
        height: 35px;
        display: flex;
        margin-bottom: 20px;

        * {
            color: white;
        }

        .income-side {
            background: #3FBFAC;
        }

        .expenses-side {
            background: #FF6B86;
        }

        .income-side, .expenses-side {
            width: 50%;
            border-radius:5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .deactivated {
            background: #f0f0f0;
            color: #7084ff;
        }
    }

    .mat-form-field-appearance-outline .mat-form-field-outline, .slider-toggle{
      background-color: #f0f0f0;
      border-color: #d8d8d8;
      border-radius: 5px;
    }
  
    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0;
    }
    .mat-flat-button.mat-primary,
    .mat-raised-button.mat-primary,
    .mat-fab.mat-primary,
    .mat-mini-fab.mat-primary {
      background-color: #7084ff;
    }
    .mat-flat-button.mat-button-disabled.mat-button-disabled {
      background-color: lightblue;
    }
    .mat-flat-button {
      padding-top: 5px;
    }
  
    .mat-button-wrapper {
      color: white;
    }
  
    .container,
    .content {
      display: inline-grid;
      width: 100%;
    }
  
    .btn-cancel {
      .mat-button-wrapper {
        color: #f44336;
      }
      margin-top: 15px;
    }


  }
  